<div class="container text-center">
  <h1>Eat-Da-Burger!</h1>
  <img src="../assets/images/burger-pic.png" alt="burger">
</div>

<div class="container" id="columns">
<div class="row">
  <div class="col-md-6">
    <h2>Burgers Available</h2>

    <ol>
      {{#each burgers}}
      {{#unless devour}}
      {{> burgers/burger-block status=true}}
      {{/unless}}
      {{/each}}
    </ol>
  </div>
  <div class="col-md-6">
    <h2>Consumed Burgers</h2>

    <ol>
      {{#each burgers}}
      {{#if devour}}
      {{> burgers/burger-block status=false}}
      {{/if}}
      {{/each}}
    </ol>
  </div>
</div>

</div>

<div class="container text-center" id="newBurgerForm">
  <div class="row">
    <div class="col-md-12">
      <form id="create-form">

      <div class="form-group">
        <textarea type="text" id="bu" name="name"></textarea>
      </div>

      <button type="submit">Add Burger</button>
      </form>
      <p id="instructions">Add a burger in the text field and click "Add Burger"</p>
    </div>
  </div>
</div>