body {
  background-color: rgb(239, 241, 118);
}

img {
  width: 200px;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

button {
  color: white;
  background-color: #55c017;
  border-color: #55c017;
  border-radius: 15px;
  border: none;
  padding: 3px 8px;
}

h2 {
  color: #460000;
  text-align: center;
  font-style: oblique;
  text-decoration: underline;
}

ol {
  color: #7b6c6c;
  font-size: 19px;
}

#columns {
  margin-top: 30px;
}

textarea#bu {
  margin-top: 50px;
  width: 500px;
  height: 100px;
  text-align: center;
  padding-top: 35px;
}
